{% extends 'theme.html' %}
{% block content %}




<!-- header -->
<style>
    .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

</style>
<div >
    <img src="https://icmer.in/data1/images/banner3.jpg" alt="Snow" style="width:100%;" >
    <div class="centered" style="font-size: 50px;
    font-weight: 600;
    background-image: linear-gradient(to right, #f9f9f9 45%, #ffffff);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;">CONTACT US</div>
  </div>
<br><br>
<!-- content -->
<div class="container" >
    <div class="row">
      <div class="col">
        <h3 style="font-family: fantasy;font-kerning: inherit;color: #0c1c75; font-size: 50px;">Emergency Contact Number</h3>
          <br><br>
          <div class="field__item">
              <div class="paragraph paragraph--type--places-nearby-sub-component paragraph--view-mode--default">
                  <div class="places--nearby--card--outer col-12">
                      <div class="places--nearby--card--inner row align-items-center">
                          <div class="transport--icon">
                              <div class="field field--name-field-image field--type-entity-reference field--label-hidden field__item"> 
                                  <img src="https://w7.pngwing.com/pngs/489/957/png-transparent-phone-call-icon-illustration-samsung-galaxy-s-plus-whatsapp-android-phone-text-trademark-logo.png" width="47" height="47" alt="Group 3460.png" loading="lazy" typeof="foaf:Image" 
                                  style="object-fit: contain;mix-blend-mode:color-burn;">
                              </div>
                          </div>
                          <div class="transport--details">
                              <div class="distance--title">
                                  <div class="field field--name-field-title field--type-string field--label-hidden field__item"><h3>  91000 61000 , 98555 23966 , 94444 66666</h3></div>
                              </div>
                              <div class="distance--excerpt">
                                  <div class="field field--name-field-excerpt field--type-text-long field--label-hidden field__item">  
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <br>
      <h3 style="font-family: fantasy;font-kerning: inherit;color: #0c1c75; font-size: 50px;">Email Id</h3>
      <h3>assistance_kochi@apollohospitals.com</h3>
  
      </div>
      <div class="col">
        <h3 style="font-family: fantasy;font-kerning: inherit;color: #0c1c75; font-size: 50px;">Address</h3>
        <br>
        <br>
        <h4 style="font-style:inherit;">Apollo Adlux Hospital Angamaly, Cable Junction, Ernakulam District, National Highway 47 Karukutty, Kerala 683576 </h4>
        <BR><br><br>
        <h3 style="font-family: fantasy;font-kerning: inherit;color: #0c1c75; font-size: 50px;">Visiters time</h3>
        <h4>8AM TO 8PM</h4>
      </div>
    </div>
  </div>
  </div>
  <BR><br>

  <!-- map -->
<style>
    hr {border-top: 1px solid #000; width:50%;}

a {color: #000;}

a:link{text-decoration:none;}

#contact2{
    letter-spacing:3px;
}



#author a{
  color: #fff;
  text-decoration: none;
    
}
</style>


  
  <!--Google Maps-->

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  
  <div class="container">
  <h1 class="text-center" style=
  "font-size: 50px;
    font-weight: 600;
    background-image: linear-gradient(to right, #000000 45%, #302d2d);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;">LOCATION MAP</h1>
  <hr>
    <div class="row">
      <div class="col-sm-8">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.317921505254!2d76.372493!3d10.239681699997802!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080725823ffa3f%3A0x5c9ff49849b69126!2sApollo%20Adlux%20Hospital%2C%20Near%20Adlux%20convention%20center%20Cable%20Junction%20Ernakulam%20District%2C%20National%20Highway%2047%20Karukutty%2C%20Angamaly%2C%20Kerala%20683576!5e0!3m2!1sen!2sin!4v1653896452811!5m2!1sen!2sin" width="100%" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
  
      <div class="col-sm-4" id="contact2">
          <h3>PLACES NEARBY</h3>
          <hr align="left" width="50%">
          <h4 class="pt-2">Nedumbassery Airport (CIAL)</h4>
          <H6 style="color: #0c1c75;">Approximate Travel Time: 36&nbsp;min</H6>
          <h4 class="pt-2">Karukkutty Railway station</h4>
          <H6 style="color: #0c1c75;">Approximate Travel Time: 36&nbsp;min</H6>
          <h4 class="pt-2">Pongam Angamaly Bus Stop</h4>
          <H6 style="color: #0c1c75;">Approximate Travel Time: 36&nbsp;min</H6>
        </div>
    </div>
  </div>
  
  
  
  <br><br>
  
{% endblock  %}